:host{
    .productpage{
        display: flex;
        padding: 25px;
        
    }
    h1{
        text-align: center;
    }
    .detailspart{
      padding: 25px;
    }
    .details{
        padding: 10px;
    }
    // img{
    //     display: block;
    //     margin-left: auto;
    //     margin-right: auto;
    //     width: 50%;
    //     padding: 25px;
    // }
}